{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_body_classes %}{{ parent() }} ledger-direct{% endblock %}

{% block base_body_inner %}

    {% set basicConfig = config('core.basicInformation') %}

    <div class="ld-container" data-xrp-payment-page="true">
        <div class="ld-content">

            <div class="ld-header">
                <h2>{{ basicConfig.shopName }} - XRP Payment Page</h2>
            </div>

            <div class="ld-card">

                <div class="ld-card-left">
                    <p>{{ "LedgerDirect.paymentPage.sendXrpMessage"|trans({"%value%": xrpAmount|round(2)})|raw }}</p>
                    <label for="destinationAccount" class="bootstrap-form-label">
                        {{ "LedgerDirect.paymentPage.destinationAccountLabel"|trans }}
                    </label>
                    <div class="bootstrap-input-group">
                        <input id="destination-account"
                               type="text"
                               name="destination-account"
                               class="bootstrap-form-control"
                               value="{{ destinationAccount }}"
                               readonly

                        />
                        <span class="bootstrap-input-group-text ld-hover" data-bs-toggle="tooltip" data-bs-title="Copy">
                            {% sw_icon 'products' %}
                        </span>
                        <i class="ld-icon">
                            {% sw_icon 'money-wallet' %}
                        </i>
                    </div>

                    <label for="destinationTag" class="bootstrap-form-label">
                        {{ "LedgerDirect.paymentPage.destinationTagLabel"|trans }}
                    </label>
                    <div class="bootstrap-input-group">

                        <input id="destination-tag"
                               type="text"
                               name="destination-tag"
                               class="bootstrap-form-control"
                               value="{{ destinationTag }}"
                               readonly
                        />
                        <span class="bootstrap-input-group-text ld-hover" data-bs-toggle="tooltip" data-bs-title="Copy">
                            {% sw_icon 'products' %}
                        </span>
                        <i class="ld-icon">
                            {% sw_icon 'tags' %}
                        </i>
                    </div>

                    <div class="ld-warning">
                        <div role="alert" class="alert alert-warning alert-has-icon">
                            {% sw_icon 'warning' %}
                            <div class="alert-content-container">
                                <div class="alert-content">
                                    {{ "LedgerDirect.paymentPage.destinationTagWarning"|trans }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ld-sync">
                        <button id="check-payment-button" data-order-id="{{ orderId }}">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display:none"></span>
                            {{ "LedgerDirect.paymentPage.checkPaymentButton"|trans }}
                        </button>
                    </div>

                </div>

                <div class="ld-card-right">
                    <div class="ld-sum">{{ price|currency }}</div>
                    <span>{{ "LedgerDirect.paymentPage.orderNumber"|trans }}: {{ orderNumber }}</span><br/>
                    <span>{{ "LedgerDirect.paymentPage.price"|trans }}: {{ price }} {{ currencyCode }}</span><br/>
                    <span>{{ "LedgerDirect.paymentPage.price"|trans }}: {{ xrpAmount }} XRP</span><br/>
                    <span>{{ "LedgerDirect.paymentPage.exchangeRate"|trans }}: {{ exchangeRate }} XRP / {{ currencyCode }}</span>
                    <img src="{{ asset('bundles/ledgerdirect/storefront/img/astronaut.png') }}" class="ld-astronaut" />
                </div>

            </div>

            <div class="ld-footer">
                {{ network }} - Ledger Direct Payment Plugin
            </div>

        </div>
    </div>

{% endblock %}