{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_body_classes %}{{ parent() }} ld-body{% endblock %}

{% block base_body_inner %}

    {% set basicConfig = config('core.basicInformation') %}

    <div class="ld-container" data-xrp-payment-page="true">
        <div class="ld-content">

            {% if paymentPageTitle %}
                <div class="ld-header">
                    <h2>{{ paymentPageTitle }}</h2>
                </div>
            {% endif %}

            <div class="ld-card">

                <div class="ld-card-left">
                    {% if mode == 'xrp' %}
                        <p>{{ "LedgerDirect.paymentPage.sendXrpMessage"|trans({"%amount%": xrpAmount|round(2)})|raw }}</p>
                        <input id="xrp-amount"
                               type="text"
                               name="xrp-amount"
                               value="{{ xrpAmount }}"
                               readonly
                               style="display: none;"
                        />
                    {% elseif mode == 'token' %}
                        <p>{{ "LedgerDirect.paymentPage.sendTokenMessage"|trans({"%amount%": tokenAmount|round(2), "%tokenName%": currencyCode})|raw}}</p>
                        <input id="token-amount"
                               type="text"
                               name="token-amount"
                               value="{{ tokenAmount }}"
                               readonly
                               style="display: none;"
                        />
                        <input id="issuer"
                               type="text"
                               name="token-amount"
                               value="{{ issuer }}"
                               readonly
                               style="display: none;"
                        />
                        <input id="currency"
                               type="text"
                               name="currency"
                               value="{{ currencyCode }}"
                               readonly
                               style="display: none;"
                        />
                    {% endif %}

                    <div class="ld-payment-info">
                    <span>
                        {{ "LedgerDirect.paymentPage.destinationAccountLabel"|trans }}
                        {% sw_include '@LedgerDirect/storefront/ledger-direct/svg/wallet_svg.html.twig' with {
                            class: 'inline-svg',
                            height:'16',
                            width:'16',
                            viewBox: '0 0 24 24'
                        } %}
                    </span>
                        <div class="ld-payment-info-text">
                            <div id="destination-account" class="" data-value="{{ destinationAccount }}">
                                {{ destinationAccount }}
                            </div>
                            <div class="ld-payment-info-functions">
                                {% sw_include '@LedgerDirect/storefront/ledger-direct/svg/copy_svg.html.twig' with { class: 'action-svg' } %}
                                {% sw_include '@LedgerDirect/storefront/ledger-direct/svg/qr_svg.html.twig' with { class: 'action-svg' } %}
                            </div>
                        </div>
                    </div>

                    <div class="ld-payment-info">
                    <span>
                        {{ "LedgerDirect.paymentPage.destinationTagLabel"|trans }}
                        {% sw_include '@LedgerDirect/storefront/ledger-direct/svg/tag_svg.html.twig' with {
                            class: 'inline-svg',
                            height:'16',
                            width:'16',
                            viewBox: '0 0 24 24'
                        } %}
                    </span>
                        <div class="ld-payment-info-text">
                            <div id="destination-tag" class="" data-value="{{ destinationTag }}">
                                {{ destinationTag }}
                            </div>
                            <div class="ld-payment-info-functions">
                                {% sw_include '@LedgerDirect/storefront/ledger-direct/svg/copy_svg.html.twig' with { class: 'action-svg' } %}
                                {% sw_include '@LedgerDirect/storefront/ledger-direct/svg/qr_svg.html.twig' with { class: 'action-svg' } %}
                            </div>
                        </div>
                    </div>

                    <div class="ld-warning">
                        <div role="alert" class="alert alert-warning alert-has-icon">
                            <div class="alert-content-container">
                                <div class="alert-content">
                                    {{ "LedgerDirect.paymentPage.destinationTagWarning"|trans }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ld-sync">
                        <button id="gem-wallet-button" class="wallet-disabled">G</button>
                        <button id="crossmark-wallet-button" class="wallet-disabled">C</button>
                        <button id="xumm-wallet-button" class="wallet-disabled">X</button>
                        <button id="check-payment-button" data-order-id="{{ orderId }}">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display:none"></span>
                            {{ "LedgerDirect.paymentPage.checkPaymentButton"|trans }}
                        </button>
                    </div>

                </div>

                <div class="ld-card-right">
                    {% if mode == 'xrp' %}
                        <div class="ld-sum">{{ price|currency }}</div>
                        <span>{{ "LedgerDirect.paymentPage.orderNumber"|trans }}: {{ orderNumber }}</span><br/>
                        <span>{{ "LedgerDirect.paymentPage.price"|trans }}: {{ price }} {{ currencyCode }}</span><br/>
                        <span>{{ "LedgerDirect.paymentPage.price"|trans }}: {{ xrpAmount }} XRP</span><br/>
                        <span>{{ "LedgerDirect.paymentPage.exchangeRate"|trans }}: {{ exchangeRate }} XRP / {{ currencyCode }}</span><br/>
                        <span>{{ "LedgerDirect.paymentPage.network"|trans }}: {{ network }}</span>
                    {% elseif mode == 'token' %}
                        <div class="ld-sum">{{ price|currency }}</div>
                        <span>{{ "LedgerDirect.paymentPage.orderNumber"|trans }}: {{ orderNumber }}</span><br/>
                        <span>{{ "LedgerDirect.paymentPage.price"|trans }}: {{ price }} {{ currencyCode }}</span><br/>
                        <span>{{ "LedgerDirect.paymentPage.network"|trans }}: {{ network }}</span>
                    {% endif %}
                    <img src="{{ asset('bundles/ledgerdirect/storefront/img/astronaut.png') }}" class="ld-astronaut" />
                </div>

            </div>

            <div class="ld-footer">
                <a href="{{ path('frontend.checkout.cart.page') }}" class="btn btn-primary ld-footer-button">
                    {{ "LedgerDirect.paymentPage.backToCart"|trans }}
                </a>
            </div>

        </div>
    </div>

{% endblock %}