{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_body_inner %}
    <div class="container-md p-4 border xrp-payment-page" data-xrp-payment-page="true">

            <form method="POST">

                <h3 class="text-center border-bottom pb-2 mb-3">
                    XRP Payment for Order No. {{ orderNumber }}
                </h3>

                <div class="row">
                    <div class="col">
                        <p class="text-center d-block pb-2 mb-3">
                            Send your payment of <strong>{{ xrpAmount|round(6) }} XRP</strong> to the following address:
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <label for="destination-account" class="form-label">Receiving Account:</label>
                        <div class="input-group">
                            <input type="text"
                                   id="destination-account"
                                   class="form-control d-block" readonly="readonly"
                                   value="{{ destinationAccount }}"/>
                            <span class="input-group-text">cp</span>
                        </div>
                    </div>
                    <div class="col">
                        <label for="destination-tag" class="form-label">Destination Tag:</label>
                        <div class="input-group">
                            <input type="text"
                                   id="destination-tag"
                                   class="form-control d-block"
                                   readonly="readonly"
                                   value="{{ destinationTag }}"/>
                            <span class="input-group-text">cp</span>
                        </div>
                    </div>
                    <div class="col">
                        <label for="destination-tag" class="form-label">Exchange rate:</label>
                        <div class="input-group">
                            <span class="input-group-text">$</span>
                            <input type="text"
                                   id="exchange-rate"
                                   class="form-control d-block"
                                   readonly="readonly"
                                   value="XRP: 0.xyz"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div role="alert" class="alert alert-warning alert-has-icon">
                            {% sw_icon 'warning' %}
                            <div class="alert-content-container">
                                <div class="alert-content">
                                    It's important to include the given destination tag when sending XRP from your wallet.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="display: none">
                    OrderNumber: {{ orderNumber }} <br/>
                    OrderId: {{ orderId }}
                    RedirectUrl: {{ redirectUrl }}
                </div>

                <div class="row">
                    <div class="col">
                        {% if showNoTransactionFoundError %}
                            Transaction sync in progress...
                        {% endif %}
                    </div>
                    <div class="col">
                        <input type="hidden" name="orderId" value="{{ orderId }}"/>
                        <button type="submit"
                                class="btn btn-success float-end"
                                id="check-payment-button
                                data-order-id="{{ orderId }}>
                            Check payment status
                        </button>
                        <!--
                        <button type="submit"
                                class="btn btn-success float-right"
                                id="get-new-quote-button
                                data-order-id="{{ orderId }}>
                            Get new quote
                        </button>
                        -->
                    </div>
                </div>

            </form>

    </div>
{% endblock %}